div1 {
    color: Black;
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 2px white;
    font-family: Verdana;
    font-weight: Bold
    margin-top: 40px;
    
}

h2 {
    color: white;
    text-align: center:
    font-style: Verdana;
    font-size: 35px;
}

img2 {
    background-size: 100% 100%;
}

div {
    text-align: center;
    color: white;
    font-family: Verdana;
}

@keyframes Stretch {

   0% {
  opacity: 0;
  }
  10%, 90% {
  opacity: 1;
  }
  100% {
  opacity: 0;
  transform: translateY(-1024px);
  }
}

div3 {
  animation-duration: 10s;
  animation-name: Stretch;
}

h2 {
    animation-name: Stretch
}

body { 
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-image: "Images/images.jpg";
}

div5 {
float: left;
  color: black;
  text-align: left;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  background-color: lightblue;
  color: white;
  display: block;
  width:100%;
  font-family: Verdana;
}

form {
     background-size: 50px
     height: 100%;
     width: 100%;
}



.layer1{
    text-align: left;
    z-index: 1
}

.layer2{
    position:absolute;
    z-index: 2;
    text-align: left;
    font-size: 20px;
    color: black;
    margin-bottom: 100px
}

.layer3{
  text-align: left;
  position:absolute;
  z-index: 5;
  margin-top: 50px
}

audio{
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gif {
   text-align: center;
   margin-left: 0px;
   margin-top: -40px;
}

.layer4{
  text-align: left;
  z-index: 5;
  margin-top: 50px
}

div16{
    text-align: left;
    font-size: 20px;
    color: black;
    font-family: Verdana;
}
div20 {
    font-family: Verdana;
    font-size: 15px;
    color: white;
}

div35 {
    color: Black;
    margin-bottom: 100px;
    text-align: center;
    font-size: 30px;
    text-shadow: 4px 2px white;
    font-family: Verdana;
    font-weight: Bold
}

.layer5{
  text-align: left;
  z-index: 6;
  margin-top: 50px